<h1><b>Cargo Status</b></h1>
<!-- Search Bar -->
<div class="container search-bar-container mt-3">
  <div class="search-bar">
    <div class="input-group">
      <input class="form-control" type="text" [(ngModel)]="cargoIdMd" placeholder="Search Cargo Id">
      <div class="input-group-append">
        <button (click)="search()" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>

<!-- Card View (displayed only after search) -->
<div class="container mt-3 main-content" *ngIf="searchPerformed">
  <div *ngIf="showCargoInfo; else errorTemplate">
    <div class="d-flex justify-content-center">
      <div class="card shadow" style="width: 24rem;">
        <div class="card-body">
          <h5 class="card-title">Cargo Information</h5>
          <p id="cId"><strong>Cargo ID: </strong> {{cargo.cargoId}}</p>
          <p><strong>Shipment Status: </strong> <span class="badge bg-info text-white">{{cargo.status}}</span></p>
          <p><strong>Product Name: </strong> {{cargoDetails.content}}</p>
          <p><strong>Quantity: </strong> {{cargoDetails.size}}</p>
          <p><strong>Expected Delivery Date: </strong> {{cargoDetails.estimatedDeliveryDate}}</p>
          <p><strong>Payment Status: </strong> {{cargoDetails.paymentStatus}}</p>
          <p><strong>Shipment Method: </strong> {{cargoDetails.shipmentMethod}}</p>
        </div>
      </div>
    </div>
  </div>
  <ng-template #errorTemplate>
    <div class="alert alert-danger mt-3" role="alert">
      {{errorMessage}}
    </div>
  </ng-template>
</div>
<div class="empty"></div>
























