@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.stats{
  margin-top: 30px;
}
.container {
  max-width: 1200px;
  margin: auto;
  //margin-bottom: 100px;
  //padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  //padding-bottom: 50px; /* Add some bottom margin to create space */
  font-family: 'Montserrat', sans-serif;
}
.empty{
  //margin-bottom: 100px;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  font-family: 'Montserrat', sans-serif;
}

// .emptyArea{
//   padding-bottom: 50px;
// }

.input-group-append .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-family: 'Montserrat', sans-serif;
}

.input-group-append .btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
  font-family: 'Montserrat', sans-serif;
}

.main-content {
  //margin-top: 20px;
  min-height: calc(100vh - 200px); /* Adjust height based on header and footer height */
  font-family: 'Montserrat', sans-serif;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  font-size: 24px;
  font-weight: 700;
  //margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}

.card-body {
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.badge.bg-info {
  background-color: #17a2b8;
  font-family: 'Montserrat', sans-serif;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}

.alert-danger a {
  color: #721c24;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}

.main-content{
  //padding-top: 90px;
  //padding-bottom: 100px;
}

.stats{
  align-items: center;
  text-align: center;
  //padding-top: 20px;
  
  font-family: 'Montserrat', sans-serif;
}

#cId{
  //padding-top: 20px;
  font-family: 'Montserrat', sans-serif;
}

.hii{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #222;
  padding-left: 10px;
  padding-top: 4px;
}

.username-highlight{
  color:#17a2b8;
  font-weight: bold;
}
